.icon-AdminTouchize:before,
.icon-AdminSettings:before,
.icon-AdminGetStarted:before {
    content: "\f10b";
}
.touchsize-menu {
    position: relative;
    z-index: 10;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 0 !important;
    text-align: center;
    display: flex;
    justify-content: center;
}

.touchsize-menu li {
    list-style-type: none;
    margin: 0 5px;
}

.touchsize-menu li a {
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 1.1em;
    font-family: "Ubuntu Condensed", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.touchsize-menu li.current a {
    margin-bottom: -2px;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-radius: 3px 3px 0 0;
    background-color: #fff;
    color: #555;
}

