{*
 * 2018 Touchize Sweden AB.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to prestashop@touchize.com so we can send you a copy immediately.
 *
 *  @author    Touchize Sweden AB <prestashop@touchize.com>
 *  @copyright 2018 Touchize Sweden AB
 *  @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 *  International Registered Trademark & Property of Touchize Sweden AB
 *}

<div class="panel">
    <div class="panel-heading">
        <i class="icon-phone"></i>
        {l s='Contact Us' mod='touchize'}
    </div>
    <div class="row">
        <div class="col-md-8" style="text-align:left;">
            <h2>
                {l s='Support questions' mod='touchize'}
            </h2>
            <p class="lead">
                {l s='For any additional support inquiries please contact Touchize through support@touchize.com or use the chat bubble' mod='touchize'}
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-responsive" src="{$img_dir|escape:'htmlall':'UTF-8'}onboarding_content_images/flat-animation.gif" alt="Contact Us" style="max-width: 80%;">
        </div>
	</div>
</div>
