{*
 * 2018 Touchize Sweden AB.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to prestashop@touchize.com so we can send you a copy immediately.
 *
 *  @author    Touchize Sweden AB <prestashop@touchize.com>
 *  @copyright 2018 Touchize Sweden AB
 *  @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 *  International Registered Trademark & Property of Touchize Sweden AB
 *}

<div class="panel">
    <div class="panel-heading">
        <i class="icon-info"></i>
        {l s='Category Menu' mod='touchize'}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {l s='Touchize Commerce handles menus in a different way to fit mobile devices better.' mod='touchize'}<br><br>
                {l s='The Category menu, shows your product categories for your customers to find your products in an easy way.' mod='touchize'}<br>
            </div>

            <div class="col-md-4 text-center">
                <img src="{$img_dir|escape:'htmlall':'UTF-8'}category-menu.png" alt="category-menu" style="max-width: 80%;">
            </div>
        </div>
    </div>
</div>
