p.strong, span.strong {
  font-weight: bold;
}

.delivengo-header .delivengo-information {
  padding-left: 10px;
  margin-bottom: 5px;
}
.delivengo-header .delivengo-header-container {
  display: flex;
  justify-content: space-between;
}
.delivengo-header .delivengo-header-container .delivengo-logo {
  display: flex;
  align-items: center;
}
.delivengo-header .delivengo-header-container .delivengo-logo > img {
  width: 100%;
}
.delivengo-header .delivengo-header-container .delivengo-contact {
  display: flex;
}
.delivengo-header .delivengo-header-container .delivengo-contact > i {
  display: flex;
  align-items: center;
  font-size: 50px;
}
.delivengo-header .delivengo-header-container .delivengo-contact > div {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-left: 15px;
  border-left: 1px solid;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.delivengo-modal-loading, .delivengo-loading {
  text-align: center;
  padding: 20px;
}
.delivengo-modal-loading > img, .delivengo-loading > img {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

#account .delivengo-account-panel {
  text-align: center;
  width: 550px;
  margin: 0 auto;
}
#account .delivengo-account-panel .panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#account .delivengo-account-panel .panel > p {
  font-size: 26px;
}
#account .delivengo-account-panel .panel > i {
  font-size: 105px;
  width: 120px;
  height: 120px;
  background: #bbb;
  color: white;
  border-radius: 60px;
}
#account .delivengo-account-panel .panel > a {
  margin: 15px 0;
}
#account .delivengo-account-panel .panel > div {
  margin-top: 20px;
}
#account .delivengo-account-panel .panel > div > p {
  font-weight: bold;
  font-size: 14px;
}
#account .delivengo-account-panel .panel .delivengo-mandate {
  border: 2px solid #00aff0;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}
#account .delivengo-account-panel .panel .delivengo-mandate .rum {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}
#account .delivengo-account-panel .panel .delivengo-mandate .iban, #account .delivengo-account-panel .panel .delivengo-mandate .bic {
  text-align: left;
}
#account .delivengo-account-panel .panel .delivengo-mandate > a {
  margin-top: 15px;
}

#delivengo-modal-signin .delivengo-modal-steps, #delivengo-modal-mandates .delivengo-modal-steps {
  display: flex;
  margin-bottom: 40px;
}
#delivengo-modal-signin .delivengo-modal-steps .delivengo-modal-step, #delivengo-modal-mandates .delivengo-modal-steps .delivengo-modal-step {
  padding-bottom: 23px;
  text-align: center;
  flex-grow: 1;
}
#delivengo-modal-signin .delivengo-modal-steps .delivengo-modal-step.inactive, #delivengo-modal-mandates .delivengo-modal-steps .delivengo-modal-step.inactive {
  opacity: 0.2;
}
#delivengo-modal-signin .delivengo-modal-steps .modal-step-number, #delivengo-modal-mandates .delivengo-modal-steps .modal-step-number {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #ffed00;
  border-radius: 25px;
  border: 2px solid;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
#delivengo-modal-signin .delivengo-modal-steps .modal-step-text, #delivengo-modal-mandates .delivengo-modal-steps .modal-step-text {
  font-weight: bold;
  padding-left: 10px;
  font-size: 15px;
}
#delivengo-modal-signin .mandates-container, #delivengo-modal-mandates .mandates-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#delivengo-modal-signin .mandates-list, #delivengo-modal-mandates .mandates-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 450px;
}
#delivengo-modal-signin .delivengo-mandate, #delivengo-modal-mandates .delivengo-mandate {
  border: 2px solid #00aff0;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}
#delivengo-modal-signin .delivengo-mandate .rum, #delivengo-modal-mandates .delivengo-mandate .rum {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}
#delivengo-modal-signin .delivengo-mandate .iban, #delivengo-modal-signin .delivengo-mandate .bic, #delivengo-modal-mandates .delivengo-mandate .iban, #delivengo-modal-mandates .delivengo-mandate .bic {
  text-align: left;
}
#delivengo-modal-signin .delivengo-mandate > a, #delivengo-modal-mandates .delivengo-mandate > a {
  margin-top: 15px;
}
#delivengo-modal-signin .delivengo-mandate button, #delivengo-modal-mandates .delivengo-mandate button {
  margin-top: 15px;
}

#bo-delivengo #address-book .form-wrapper-view {
  height: 120px;
}
#bo-delivengo #address-book .default {
  margin: -10px;
}
#bo-delivengo #address-book #add-new-address {
  margin-bottom: 25px;
}
#bo-delivengo #bo-settings .delivengo-customs-documents .checkbox, #bo-delivengo #bo-settings .delivengo-customs-documents .radio {
  display: inline-block;
  padding: 5px;
}
#bo-delivengo #bo-settings .form-group-html p {
  padding-top: 8px;
}
#bo-delivengo #intro .delivengo-background {
  margin-left: 20px;
}
#bo-delivengo #intro .delivengo-background .btn-delivengo-left {
  margin: 10px 0;
}
#bo-delivengo #intro .delivengo-background .delivengo-video-wrapper {
  position: relative;
  padding-bottom: 55%;
  padding-top: 25px;
  margin-top: 25px;
}
#bo-delivengo #intro .delivengo-background .delivengo-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 35px;
  width: 90%;
  height: 100%;
}

@media (max-width: 991px) {
  #bo-delivengo #intro .delivengo-background .delivengo-video-wrapper {
    margin-top: 15px;
  }
  #bo-delivengo #intro .delivengo-background .delivengo-video-wrapper iframe {
    left: 0px;
    width: 100%;
  }
}
.delivengo-admin-order-new-theme .info-block {
  background-color: #f8f8f8;
  padding: 18px 18px 16px;
}
.delivengo-admin-order-new-theme .card-body .delivengo-admin-logo {
  display: flex;
  justify-content: center;
}
.delivengo-admin-order-new-theme .card-body .delivengo-admin-logo > img {
  width: 285px;
}
.delivengo-admin-order-new-theme .card-body .label-info {
  align-items: center;
}
.delivengo-admin-order-new-theme .card-body .label-info .tracking-url {
  font-size: 21px;
}
.delivengo-admin-order-new-theme .card-body .label-details .info-block {
  background-color: #f8f8f8;
  padding: 18px 18px 16px;
  flex-grow: 1;
}
.delivengo-admin-order-new-theme .card-body .label-details .info-block .label-position {
  display: flex;
  flex-direction: column;
}
.delivengo-admin-order-new-theme .card-body .label-details .info-block .label-position .label-position-item {
  display: flex;
  justify-content: center;
}
.delivengo-admin-order-new-theme .card-body .label-details .info-block .label-position .label-position-item > a {
  width: 55px;
  height: 80px;
}
.delivengo-admin-order-new-theme .card-body .label-details .info-block .download-link {
  margin: 10px 0 8.5px;
}
.delivengo-admin-order-new-theme .card-body .label-details .shipment-details {
  flex-grow: 2;
  padding: 18px 18px 16px;
}
.delivengo-admin-order-new-theme .delivengo-products-table .delivengo-td-description input {
  width: 280px;
}
.delivengo-admin-order-new-theme .delivengo-products-table .delivengo-td-quantity input {
  width: 60px;
}
.delivengo-admin-order-new-theme .delivengo-products-table .delivengo-td-weight input {
  width: 60px;
}
.delivengo-admin-order-new-theme .delivengo-products-table .delivengo-td-value input {
  width: 75px;
}

.delivengo-admin-order-legacy .info-block {
  background-color: #f8f8f8;
  padding: 18px 18px 16px;
}
.delivengo-admin-order-legacy .info-block h2 {
  margin-top: 0;
}
.delivengo-admin-order-legacy .delivengo-admin-label .delivengo-admin-logo {
  display: flex;
  justify-content: center;
}
.delivengo-admin-order-legacy .delivengo-admin-label .delivengo-admin-logo > img {
  width: 285px;
}
.delivengo-admin-order-legacy .delivengo-admin-label .delivengo-label-info {
  align-items: center;
  display: flex;
}
.delivengo-admin-order-legacy .delivengo-admin-label .delivengo-label-info > div {
  flex-grow: 1;
}
.delivengo-admin-order-legacy .delivengo-admin-label .delivengo-label-info > div .tracking-url {
  font-size: 21px;
}
.delivengo-admin-order-legacy .delivengo-admin-label .delivengo-label-details {
  display: flex;
}
.delivengo-admin-order-legacy .delivengo-admin-label .delivengo-label-details .info-block {
  background-color: #f8f8f8;
  padding: 18px 18px 16px;
  flex-grow: 1;
}
.delivengo-admin-order-legacy .delivengo-admin-label .delivengo-label-details .info-block .label-position {
  display: flex;
  flex-direction: column;
}
.delivengo-admin-order-legacy .delivengo-admin-label .delivengo-label-details .info-block .label-position .label-position-item {
  display: flex;
  justify-content: center;
}
.delivengo-admin-order-legacy .delivengo-admin-label .delivengo-label-details .info-block .label-position .label-position-item > a {
  width: 55px;
  height: 80px;
}
.delivengo-admin-order-legacy .delivengo-admin-label .delivengo-label-details .info-block .download-link {
  margin: 10px 0 8.5px;
}
.delivengo-admin-order-legacy .delivengo-admin-label .delivengo-label-details .shipment-details {
  flex-grow: 2;
  padding: 18px 18px 16px;
}
.delivengo-admin-order-legacy .js-delivengo-label-form .delivengo-products-table .delivengo-td-description input {
  width: 225px;
}
.delivengo-admin-order-legacy .js-delivengo-label-form .delivengo-quotation .delivengo-estimation {
  display: none;
  width: 400px;
  margin: 0 auto;
  padding: 0 15px 15px 15px;
  margin-top: 20px;
}
.delivengo-admin-order-legacy .delivengo-shipping-address p {
  margin-top: 15px;
}
.delivengo-admin-order-legacy .delivengo-alert-articles {
  margin: 25px 0;
}
.delivengo-admin-order-legacy .delivengo-products-table .delivengo-td-description input {
  width: 580px;
}
.delivengo-admin-order-legacy .delivengo-products-table .delivengo-td-quantity input {
  width: 60px;
}
.delivengo-admin-order-legacy .delivengo-products-table .delivengo-td-weight input {
  width: 60px;
}
.delivengo-admin-order-legacy .delivengo-products-table .delivengo-td-value input {
  width: 75px;
}
.delivengo-admin-order-legacy .delivengo-quotation {
  margin: 30px 0;
  text-align: center;
}
.delivengo-admin-order-legacy .delivengo-actions {
  margin-top: 20px;
}

#delivengo-whatsnew h1 {
  margin: 0 0 1em 0;
  border-bottom: 1px solid;
  text-transform: uppercase;
}
#delivengo-whatsnew h2 {
  text-transform: uppercase;
}
#delivengo-whatsnew .section-configuration ol {
  list-style: none;
  counter-reset: li;
}
#delivengo-whatsnew .section-configuration ol li {
  display: flex;
  height: 3em;
  align-items: center;
  counter-increment: li;
}
#delivengo-whatsnew .section-configuration ol li::before {
  content: counter(li);
  color: black;
  display: flex;
  width: 2em;
  margin-left: -1em;
  background: #ffed00;
  text-align: center;
  border-radius: 1em;
  height: 2em;
  padding-top: 0.2em;
  font-weight: bold;
  margin-right: 1em;
  border: 2px solid;
  flex: none;
  justify-content: center;
}
