.delivengo-admin-order-new-theme {
  .info-block {
    @include delivengo-info-block;
  }

  .card-body {
    @include delivengo-logo-block;

    .label-info {
      align-items: center;

      .tracking-url {
        font-size: 21px
      }
    }

    .label-details {
      .info-block {
        @include delivengo-info-block;
        flex-grow: 1;

        .label-position {
          @include delivengo-label-position-block

        }

        .download-link {
          margin: 10px 0 8.5px;
        }
      }

      .shipment-details {
        @include delivengo-label-shipment;
      }
    }
  }

  .delivengo-products-table {
    .delivengo-td-description input {
      width: 280px;
    }

    .delivengo-td-quantity input {
      width: 60px;
    }

    .delivengo-td-weight input {
      width: 60px;
    }

    .delivengo-td-value input {
      width: 75px;
    }
  }
}

.delivengo-admin-order-legacy {
  .info-block {
    @include delivengo-info-block;

    h2 {
      margin-top: 0;
    }
  }

  .delivengo-admin-label {
    @include delivengo-logo-block;

    .delivengo-label-info {
      align-items: center;
      display: flex;

      > div {
        flex-grow: 1;

        .tracking-url {
          font-size: 21px
        }
      }
    }

    .delivengo-label-details {
      display: flex;

      .info-block {
        @include delivengo-info-block;
        flex-grow: 1;

        .label-position {
          @include delivengo-label-position-block
        }

        .download-link {
          margin: 10px 0 8.5px;
        }
      }

      .shipment-details {
        @include delivengo-label-shipment;
      }
    }
  }

  .js-delivengo-label-form {
    .delivengo-products-table {

      .delivengo-td-description input {
        width: 225px;
      }
    }

    .delivengo-quotation {

      .delivengo-estimation {
        display: none;
        width: 400px;
        margin: 0 auto;
        padding: 0 15px 15px 15px;
        margin-top: 20px;
      }
    }
  }

  .delivengo-shipping-address {
    p {
      margin-top: 15px;
    }
  }

  .delivengo-alert-articles {
    margin: 25px 0;
  }

  .delivengo-products-table {
    .delivengo-td-description input {
      width: 580px;
    }

    .delivengo-td-quantity input {
      width: 60px;
    }

    .delivengo-td-weight input {
      width: 60px;
    }

    .delivengo-td-value input {
      width: 75px;
    }
  }

  .delivengo-quotation {
    margin: 30px 0;
    text-align: center;
  }

  .delivengo-actions {
    margin-top: 20px;
  }
}
