#account .delivengo-account-panel {
  text-align: center;
  width: 550px;
  margin: 0 auto;

  .panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    > p {
      font-size: 26px;
    }

    > i {
      font-size: 105px;
      width: 120px;
      height: 120px;
      background: #bbb;
      color: white;
      border-radius: 60px;
    }

    > a {
      margin: 15px 0;
    }

    > div {
      margin-top: 20px;

      > p {
        font-weight: bold;
        font-size: 14px;
      }
    }

    .delivengo-mandate {
      @include delivengo-mandate;
    }
  }
}

#delivengo-modal-signin, #delivengo-modal-mandates {
  .delivengo-modal-steps {
    display: flex;
    margin-bottom: 40px;

    .delivengo-modal-step {
      padding-bottom: 23px;
      text-align: center;
      flex-grow: 1;
    }

    .delivengo-modal-step.inactive {
      opacity: 0.2;
    }

    .modal-step-number {
      display: inline-block;
      width: 25px;
      height: 25px;
      background: #ffed00;
      border-radius: 25px;
      border: 2px solid;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
    }

    .modal-step-text {
      font-weight: bold;
      padding-left: 10px;
      font-size: 15px;
    }
  }

  .mandates-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .mandates-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 450px;
  }

  .delivengo-mandate {
    @include delivengo-mandate;

    button {
      margin-top: 15px;
    }
  }
}

#bo-delivengo {
  #address-book {
    .form-wrapper-view {
      height: 120px;
    }

    .default {
      margin: -10px;
    }

    #add-new-address {
      margin-bottom: 25px;
    }
  }

  #bo-settings {
    .delivengo-customs-documents .checkbox, .delivengo-customs-documents .radio {
      display: inline-block;
      padding: 5px;
    }

    .form-group-html p {
      padding-top: 8px;
    }
  }

  #intro .delivengo-background {
    margin-left: 20px;

    .btn-delivengo-left {
      margin: 10px 0;
    }

    .delivengo-video-wrapper {
      position: relative;
      padding-bottom: 55%;
      padding-top: 25px;
      margin-top: 25px;

      iframe {
        position: absolute;
        top: 0;
        left: 35px;
        width: 90%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 991px) {
  #bo-delivengo #intro .delivengo-background .delivengo-video-wrapper {
    margin-top: 15px;

    iframe {
      left: 0px;
      width: 100%;
    }
  }
}
