.delivengo-header {
  .delivengo-information {
    padding-left: 10px;
    margin-bottom: 5px;
  }

  .delivengo-header-container {
    display: flex;
    justify-content: space-between;

    .delivengo-logo {
      display: flex;
      align-items: center;

      > img {
        width: 100%;
      }
    }

    .delivengo-contact {
      display: flex;

      > i {
        display: flex;
        align-items: center;
        font-size: 50px;
      }

      > div {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        margin-left: 15px;
        border-left: 1px solid;
      }
    }
  }
}
