@mixin delivengo-mandate {
  border: 2px solid #00aff0;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;

  .rum {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .iban, .bic {
    text-align: left;
  }

  > a {
    margin-top: 15px;
  }
}

@mixin delivengo-info-block {
  background-color: #f8f8f8;
  padding: 18px 18px 16px;
}

@mixin delivengo-logo-block {
  .delivengo-admin-logo {
    display: flex;
    justify-content: center;

    > img {
      width: 285px;
    }
  }
}

@mixin delivengo-label-position-block {
  display: flex;
  flex-direction: column;

  .label-position-item {
    display: flex;
    justify-content: center;

    > a {
      width: 55px;
      height: 80px;
    }
  }
}

@mixin delivengo-label-shipment {
  flex-grow: 2;
  padding: 18px 18px 16px;
}