#delivengo-whatsnew {
  h1 {
    margin: 0 0 1em 0;
    border-bottom: 1px solid;
    text-transform: uppercase;
  }

  h2 {
    text-transform: uppercase;
  }

  .section-configuration {
    ol {
      list-style: none;
      counter-reset: li;

      li {
        display: flex;
        height: 3em;
        align-items: center;
        counter-increment: li;

        &::before {
          content: counter(li);
          color: black;
          display: flex;
          width: 2em;
          margin-left: -1em;
          background: #ffed00;
          text-align: center;
          border-radius: 1em;
          height: 2em;
          padding-top: 0.2em;
          font-weight: bold;
          margin-right: 1em;
          border: 2px solid;
          flex: none;
          justify-content: center;
        }
      }

    }
  }

  .section-carriers {

  }
}
