/**
 * 2015 Stigmi
 *
 * @author    Serge <serge@stigmi.eu>
 * @copyright 2015 Stigmi
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
.col-xs-4,
.col-xs-6,
.col-xs-8,
.col-xs-12 {
  float: left;
  padding: 0 15px;
  position: relative; }

.col-xs-4 {
  width: 33.3333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-8 {
  width: 66.6667%; }
/*
.col-xs-12 {
  width: 100%; }
*/
.alpha {
  padding-left: 0; }

.omega {
  padding-right: 0; }

#cbox {
  position: relative;
  display: none;
  width: 100%;
  /*display: block;*/
  margin-top: 5px;
  color: #444;
}
.ajax-cbox-overlay {
  /*opacity: 0.7;*/
  opacity: 0.5;
  position:absolute;
  top:0; bottom:0;
  left:0; right:0;
  z-index:199;
  background:#fff url(../img/ajax-loader2.gif) no-repeat center;
  border-radius: inherit;
}
.delivery_option label > table.resume td {
}
/*td.delivery_option_radio,*/
td.delivery_option_logo {
  vertical-align: top;
  padding-top: 4px !important;
}
/**/
#btn-sp {
   margin: 5px 0 2px;
}
#del-info {
  display: block;
  /*width: 100%;*/
  margin-top: 5px;
  margin-bottom: 8px;
  font-style: italic;
  color: #878;
}
div.address {
  /*margin-left: 25px;*/
}
/* SRG: 15-feb-18 */
/*span.title {*/
span.cb-title {
  display: block;
  font-weight: 600;
}
a.sp-change {
  cursor: pointer;
  color: #09f;
  text-decoration: none;
}
a.sp-change:hover {
  color: #f40;
  text-decoration: underline;
}
div#sect-delivery {
  margin-top: 5px;
  margin-bottom: 5px;
}
/**/
.no-address {
  display: block;
}
.no-address.ps16 {
  margin:  20px 0px;
  padding: 15px 15px 15px 170px;
  border: 1px solid #ccc;
  color: #F13340;
  font-weight: 700;
}
.no-address.ps15 {
  margin: 0;
  padding: 10px;
  background-color: #Ffd;
  border: 1px solid #e6db55;
  font-size: 13px;
}
.no-address.ps14 {
  display: table-cell;
  width: 980px;
  color: black;
  font-size: 1.2em;
  background-color: #F8E1A0;
  border: 1px dashed #F9E400;
  font-weight: bold;
  margin: 0.2em 2em;
  padding: 0.6em 1em;
}
/* SRG: 11-may-17 */
div.delivery-option > label > div > div > div.row > div > img {
  width: 48px;
  margin: -5px 0 0 -8px;
}
div.bpost-extra-content {
  margin: 0 -15px !important;
}
div#cbox.ps17 {
  position: relative;
  display: none;
  padding: 5px 0 0 0px;
  width: 100%;
  font-size: 0.9em;
  color: #444;
}
@media screen and (max-width: 480px) {
  div#cbox.ps17 {
   padding: 5px 0 0 0px;
  }
}
@media screen and (min-width: 544px) and (max-width: 768px) {
  div#cbox.ps17 {
    padding: 5px 0 0 44px;
  }
}
@media screen and (min-width: 768px) {
  div#cbox.ps17 {
    padding: 5px 0 0 0px;
  }
}
@media screen and (min-width: 992px) {
  div#cbox.ps17 {
    padding: 5px 0 0 44px;
  }
}
@media screen and (min-width: 1200px) {
  div.bpost-extra-content {
    margin: 0 !important;
  }  
}
/* SRG: 1-feb-17 */
/*div#cbox.ps17 {
  position: relative;
  display: none;
  padding: 5px 0 0 110px;
  width: 100%;
  font-size: 0.9em;
  color: #444;
}*/
div#cbox.ps17 > div.address {
  margin-left: 0px;
}
div#cbox.ps17 > a {
  position: relative;
  display: inline-block;
  margin: 5px 0;
}
div#cbox.ps17 > a.button.exclusive_large {
    margin: 10px 0;
    padding: 5px 7px;
    border: 1px solid #cc9900;
    font-weight: bold;
    color: black;
    background-color: #f4b61b;
    cursor: pointer;
    white-space: normal;
    text-align: left;
}
div#cbox.ps17 > a.sp-change {
  cursor: pointer;
  color: #09f;
  text-decoration: none;
}
div#cbox.ps17 > a.sp-change:hover {
  color: #f40;
  text-decoration: underline;
}
div#hook-display-after-carrier {
  font-size: 0.9em;
  /*color: #b00;*/
  color: #a10;
  margin: 10px 0;
}
/* SRG: 1-Jul-17 */
span.unsupported {
  display: block;
  /* font-size: 1.1em; */
  font-weight: 600;
  color: #b21;
  margin: 10px 0px;
}
/* Srg: 1-jun-20 */
div.summary-selected-carrier > * span.carrier-delay {
  font-size: 0.85rem;
  margin: 0rem 0rem 0rem -2rem;
}
div#sbox.ps17 {
  font-size: 0.8rem;
  padding: 0px 0px 0px 10px;
}