/**
 * 2017 Stigmi
 *
 * @author    Stigmi.eu <www.stigmi.eu>
 * @copyright 2017 Stigmi
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
.col-xs-4,
.col-xs-6,
.col-xs-8,
.col-xs-12 {
  float: left;
  padding: 0 15px;
  position: relative; }

.col-xs-4 {
  width: 33.3333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-8 {
  width: 66.6667%; }

.col-xs-12 {
  width: 100%; }

.alpha {
  padding-left: 0; }

.omega {
  padding-right: 0; }

#service-point {
  text-align: left;
  width: 100%; }
  #service-point.v1-5 {
    background-color: #F9F9F9; }
    #service-point.v1-5.at-shop #poi li {
      background-color: #fff; }
  #service-point *,
  #service-point *:before,
  #service-point *:after {
    box-sizing: border-box; }
  #service-point .button {
    height: 18px;
    line-height: 16px;
    padding: 0px 7px;
    vertical-align: middle; }
  /* Srg: 1-may-2017; */
  input[type="submit"]:disabled,
  input[type="submit"][disabled] {
    opacity: 0.4;
  }
  /* */
  #service-point form {
    line-height: 18px; }
    #service-point form label {
      font-weight: bold; }
    #service-point form input[type="checkbox"],
    #service-point form input[type="radio"],
    #service-point form input[type="text"] {
      vertical-align: middle; }
    #service-point form input[type="text"],
    #service-point form select {
      font-size: 12px;
      margin: 0  15px 0 3px; }
    #service-point form input[type="checkbox"] + label,
    #service-point form input[type="radio"] + label {
      margin-left: 5px; }
    #service-point form input[type="radio"] {
      position: relative;
      top: -1px; }
    #service-point form input[type="text"] {
      border: 1px solid #ccc;
      border-radius: 3px !important;
      height: 20px;
      padding: 0 10px; }
    #service-point form select {
      height: 22px; }
    #service-point form .error,
    #service-point form .loader {
      border-radius: 3px;
      display: inline-block;
      font-size: 12px;
      line-height: 25px;
      padding: 0 10px;
      vertical-align: middle; }
    #service-point form .error {
      margin: 0 0 0 15px; }
    #service-point form .loader {
      display: none;
      margin: 0 0 0 5px; }
  #service-point.at-shop #catch-phrase {
    border-bottom: 1px solid #d2d2d2;
    color: #009bda;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 5px 10px 0; }
  #service-point.at-shop #search-form {
    padding: 20px 0; }
    #service-point.at-shop #search-form input {
      max-width: 120px; }
    #service-point.at-shop #search-form .submit,
    #service-point.at-shop #search-form .form-group,
    #service-point.at-shop #search-form .button {
      display: inline-block; }
  #service-point.at-shop #poi {
    list-style: none inside none; }
    #service-point.at-shop #poi li {
      background-color: #F9F9F9;
      border: 1px solid #f2f2f2;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 0 8px 0;
      padding: 6px 10px 10px; }
      #service-point.at-shop #poi li.active {
        background-color: #fee68a; }
      #service-point.at-shop #poi li > a {
        display: block; }
        #service-point.at-shop #poi li > a, #service-point.at-shop #poi li > a:active, #service-point.at-shop #poi li > a:focus, #service-point.at-shop #poi li > a:hover {
          text-decoration: none; }
    #service-point.at-shop #poi img {
      float: left;
      margin-top: 6px;
      margin-right: 8px; }
    #service-point.at-shop #poi .details {
      float: left;
      font-size: 10px;
      line-height: 12px;
      margin-top: 6px;
      width: 80%; }
      #service-point.at-shop #poi .details .name {
        display: block;
        color: #009bda;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase; }
    #service-point.at-shop #poi .hours {
      margin-left: 37px;
      margin-top: 5px; }
      #service-point.at-shop #poi .hours table {
        width: 80%; }
      #service-point.at-shop #poi .hours td {
        font-size: 11px;
        line-height: 14px;
        padding: 1px 3px;
        width: 33.33%; }
        #service-point.at-shop #poi .hours td.day {
          font-weight: bold; }
      #service-point.at-shop #poi .hours .two-cols .day + td {
        width: 66.67%; }
    #service-point.at-shop #poi .button {
      margin-top: 8px; }
  #service-point.at-shop #map-canvas {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    height: 100%; }
  #service-point.at-247 {
    min-height: 400px; }
    #service-point.at-247 h1 {
      background: transparent none;
      color: #c90200;
      font-size: 16px;
      height: auto;
      padding-top: 5px;
      text-transform: none; }
      #service-point.at-247 h1 .step {
        background-color: #c90200;
        border: 1px solid #981b1e;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        /*float: left;*/
        font-size: 20px;
        line-height: 55px;
        margin-right: 20px;
        margin-top: -5px;
        padding: 0 22px; }
    #service-point.at-247 h2 {
      background: transparent none;
      border-bottom: 1px solid #D2D2D2;
      font-size: 14px;
      height: auto;
      margin: 20px 0;
      padding-bottom: 5px;
      text-transform: none; }
    #service-point.at-247 h3 {
      font-size: 12px;
      font-weight: bold;
      padding-bottom: 12px; }
    #service-point.at-247 p {
      padding: 0 5% 12px 0; }
    #service-point.at-247 ul {
      list-style: inside disc none; }
      #service-point.at-247 ul li {
        padding-bottom: 2px; }
    #service-point.at-247 a, #service-point.at-247 a:visited {
      color: #009bda; }
    #service-point.at-247 #rc-form {
      margin-bottom: 15px; }
    #service-point.at-247 #register {
      display: none;
      padding-left: 40px; }
    #service-point.at-247 #register-247 .row {
      margin-bottom: 5px; }
    #service-point.at-247 #register-247 label {
      float: left;
      width: 30%; }
    #service-point.at-247 #register-247 input.error,
    #service-point.at-247 #register-247 select.error {
      border-color: #c90200; }
    #service-point.at-247 #register-247 input[type="text"],
    #service-point.at-247 #register-247 select {
      margin-right: 3px; }
    #service-point.at-247 #register-247 input[type="text"] {
      padding-left: 5px;
      width: 40%; }
    #service-point.at-247 #register-247 select {
      width: 40%; }
    #service-point.at-247 #register-247 .infos {
      font-style: italic;
      margin-left: 5px; }
    #service-point.at-247 #register-247 sup {
      color: #c90200; }
    #service-point.at-247 #register-247 .last {
      margin-top: 5px;
      padding-left: 30%; }
      #service-point.at-247 #register-247 .last input {
        margin-left: 5px; }
      #service-point.at-247 #register-247 .last label {
        float: none;
        font-weight: normal;
        width: auto; }
    #service-point.at-247 #rc-info-content {
      display: none; }
    #service-point.at-247 img {
      height: auto;
      max-width: 100%;
      width: auto; }
    #service-point.at-247 #uniform-cgv {
      display: inline; }

@media screen and (min-width: 480px) {
  .at-shop .col-xs-4 {
    overflow-y: scroll; }
  .at-shop .col-xs-4,
  .at-shop .col-xs-8 {
    height: 520px; } }
@media screen and (max-width: 480px) {
  #service-point.at-shop form input#rc,
  #service-point.at-shop #rc-info {
    margin-bottom: 8px;
    margin-top: 5px; }
  #service-point.at-shop #service-point form input#rc {
    margin-left: 25px; }
  #service-point.at-shop #search-form .submit,
  #service-point.at-shop #search-form .form-group {
    display: block; }
  #service-point.at-shop #rc-info {
    display: inline;
    margin-left: 0; } }
@media screen and (max-width: 780px) {
  .col-xs-4,
  .col-xs-6,
  .col-xs-8,
  .col-xs-12 {
    float: none;
    height: auto;
    width: 100%; }

  .at-shop #poi {
    padding-right: 15px; }
  .at-shop .col-xs-4 {
    overflow: visible; }
  .at-shop .col-xs-8 {
    display: none; }

  #map-canvas {
    display: none; }

  #rc-info {
    display: block;
    margin-left: 20px; } }
/* Serge: 18-07-15 */
#service-point.at-247 #upl-unregister .row {
  margin-bottom: 5px; }
#service-point.at-247 #upl-unregister label {
  float: left;
  width: 36%; }
#service-point.at-247 #upl-unregister input.error,
#service-point.at-247 #upl-unregister select.error {
  border-color: #c90200; }
#service-point.at-247 #upl-unregister input[type="text"],
#service-point.at-247 #upl-unregister select {
  margin-right: 3px; }
#service-point.at-247 #upl-unregister input[type="text"] {
  padding-left: 5px;
  width: 40%; }
#service-point.at-247 #upl-unregister select {
  width: 40%; }
#service-point.at-247 #upl-unregister .infos {
  font-style: italic;
  margin-left: 5px; }
#service-point.at-247 #upl-unregister sup {
  color: #c90200; }
#service-point.at-247 #upl-unregister .last {
  margin-top: 5px;
  padding-left: 30%; }
  #service-point.at-247 #upl-unregister .last input {
    margin-left: 5px; }
  #service-point.at-247 #upl-unregister .last label {
    float: none;
    font-weight: normal;
    width: auto; }

#error-phrase {
  border-bottom: 1px solid #d2d2d2;
  color: #da2b00;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0; }

#service-point div p {
  margin-bottom: 20px;
  text-align: center; }

.at-247 .center {
  float: none;
  margin: 0 auto; }

#uniform-rmz {
  display: inline;
  margin-left: 3px; }

img.info {
  margin: -4px 4px; }

.field-error {
  margin-left: 5px;
  font-size: 12px;
  color: #da2b00; }

.legend {
  font-size: 12px;
  color: #da2b00; }
/* Serge: manu's mobile 01-04-16 */
html.ui-mobile #service-point.at-247 #upl-unregister label {
  float: none;
  width: auto; }

html.ui-mobile #service-point.at-247 #upl-unregister input[type="text"] {
  width: 100%; }
/* Serge: 13 june 2017 */
#service-point header {
  border-bottom: 1px solid #d2d2d2;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 5px 10px 0; 
}
#service-point header .title {
  color: #009bda;
}
#service-point header .title.error {
  color: #da2b00;
}
#service-point header .info.right {
  text-align: right;
  font-size: 20px;
  color: #aaa;
  padding: 0px 10px;
}

